table{
    background-color: #cee7ca;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    border-collapse: collapse;
    border: solid 1px #000;
}
th{
    background-color: #86a981;
    border: solid 1px #000;
    padding: 10px;
}
td{
    border: solid 1px #000;
    padding: 10px;
}