body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin:10vh auto;
}

legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #676d68;
    color: white;
}

input[type="submit"]:hover {
    background-color: #53ac62;
    color: white;
    transition: 0.5s;
}

input[type="reset"] {
    background-color: #676d68;
    color: white;
}

input[type="reset"]:hover {
    background-color: #ac5353;
    color: white;
    transition: 0.5s;
}