body{
    background-color: rgb(221, 238, 221);
}

div{
    display: inline-block;
    width:32vw;
    margin-right: 1 vh;
}

img{
    width:25vw;
}

p{
    font-weight: bold;
    font-size: 2.5vh;
    text-align: center;
}